@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: monospace;
  font-size: 16px;
}

nav {
  padding: 20px;
  background: #50f;
  color: #fff;
  font-size: 20px;
}

.grid {
  padding: 20px;
}

canvas {
  border: 1px dotted #aaa;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

.preview canvas {
  width: 200px !important;
  height: 200px !important;
  margin: 0 auto;
}

.preview path {
  fill: blue;
  stroke: red;
}

.preview button:hover {
  color: white;
  cursor: pointer;
}
