@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

canvas {
  border: 1px dotted #aaa;
}

.preview canvas {
  width: 200px !important;
  height: 200px !important;
  margin: 0 auto;
}

.preview path {
  fill: blue;
  stroke: red;
}

.preview button:hover {
  color: white;
  cursor: pointer;
}
